<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>New Movie</h3>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <br>
            <%= form_with url: movies_path, id: 'person_form', class: 'form-horizontal form-label-left' do |f| %>

            <div class="form-group">
              <%= f.label :title, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.text_field :title, class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :release_year, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.date_field :release_year, class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <%= f.label :actors, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.select :actors, [], {}, id: 'actors_select', class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <%= f.label :directors, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.select :directors, [], {}, id: 'directors_select', class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <%= f.label :producers, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= f.select :producers, [], {}, id: 'producers_select', class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $.ajax({
      url: '<%= ENV["API_DOMAIN"] %>/api/v1/people/actors',
      success: function(response) {
        $('#actors_select').append($("<option></option>"));
        $.each(response, function(key, value) {
          $('#actors_select')
            .append($("<option></option>")
            .attr("value",value[0])
            .text(value[1]));
        });
      }
    });

    $.ajax({
      url: '<%= ENV["API_DOMAIN"] %>/api/v1/people/directors',
      success: function(response) {
        $('#directors_select').append($("<option></option>"));
        $.each(response, function(key, value) {
          $('#directors_select')
            .append($("<option></option>")
            .attr("value",value[0])
            .text(value[1]));
        });
      }
    });

    $.ajax({
      url: '<%= ENV["API_DOMAIN"] %>/api/v1/people/producers',
      success: function(response) {
        $('#producers_select').append($("<option></option>"));
        $.each(response, function(key, value) {
          $('#producers_select')
            .append($("<option></option>")
            .attr("value",value[0])
            .text(value[1]));
        });
      }
    });
  });
</script>