<div class="main_container">
  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <%= link_to root_path, class: 'site_title' do  %>
          <i class="fa fa-paw"></i> <span>Movies App</span>
        <% end %>
      </div>
      <div class="clearfix"></div>

      <div class="profile">
        <div class="profile_pic">
          <%= image_tag "img.jpg", :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>youremail@example.com</h2>
        </div>
      </div>

      <br />

      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Movies <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to 'Movies', movies_path %></li>
                <li><%= link_to 'New Movie', new_movie_path %></li>
              </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> People <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to 'People', people_path %></li>
                <li><%= link_to 'New Person', new_person_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>